<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Mini Dooray! | Project'"></title>
    <link rel="stylesheet" href="/css/default.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<th:block th:include="fragments/header"/>

<div id="main-container">
    <div id="icon-menu-container">
        <div><a><img class="icon" src="/img/home.png"/></a></div>
        <div><a th:href="@{'/projects/' + ${#authentication.name}}"><img class="icon" src="/img/task.png"/></a></div>
        <div><a><img class="icon" src="/img/account.png"/></a></div>
    </div>
    <div id="project-list-container">
        <a th:href="@{/tasks/{defaultProjectId}/write(defaultProjectId=${defaultProjectId})}">
            <div id="add-task-btn" th:text="'+ 새 업무'"></div>
        </a>
        <div class="project-list" th:each=" item, i : ${projectList}">
            <a th:href="@{'/tasks/' + ${item.getProjectId()} + '/' + ${#authentication.name}}">
                <div th:text="${item.getName()}"></div>
            </a>
        </div>
    </div>
    <div id="task-list-container">
        <div class="task-list-menu" th:each=" item, i : ${defaultTaskList}">
<!--            <a th:href="@{'/tasks/views/' + ${item.getTaskId()}}">-->
                <div class="task-list-menu-title" th:text="${item.getTitle()}"></div>
                <div class="task-list-menu-info">
                    <span class="task-list-menu-project" th:text="${projectName}"></span>
                    <span class="task-list-menu-writer" th:text="'|'"></span>
                    <span class="task-list-menu-writer" th:text="${item.taskWriterMemberId}"></span>
                </div>
<!--            </a>-->
        </div>
    </div>
</div>
</body>
</html>