<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Mini Dooray! | 마일스톤'"></title>
    <link rel="stylesheet" href="/css/default.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/tag.css"/>
</head>
<body>
<th:block th:include="fragments/header"/>

<div id="main-container">
    <div id="icon-menu-container">
        <div><a th:href="@{'/projects/' + ${#authentication.name}}"><img class="icon" src="/img/home.png"/></a></div>
        <div><a th:href="@{'/projects/' + ${#authentication.name}}"><img class="icon" src="/img/task.png"/></a></div>
        <div><a><img class="icon" src="/img/account.png"/></a></div>
    </div>
    <div class="tag-container">
        <h1 class="tag-title"><span th:text="${projectName}"></span>&nbsp;&nbsp;<span th:text="'태그 관리'"></span></h1>

        <div>
            <form th:method="post" th:action="@{${action}}" th:object="${reqTagDto}">
                <span><input type="text" name="name" th:attr="placeholder='태그명'" th:field="*{name}"/></span>
                <span><button class="btn-create" type="submit" th:text="'태그 생성'"></button></span>
            </form>
        </div>

        <table>
            <caption></caption>
            <thead>
            <tr class="table_title">
                <th th:text="'태그'"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each=" item, i : ${tagList}">
                <td class="tag-content">
                    <div class="tag-name" th:text="${item.name}"></div>
                    <form th:method="delete" th:action="@{'/tasks/tags/delete/' + ${projectId}}" id="tag-delete-form">
                        <input type="hidden" name="tagId" th:value="${item.tagId}"/>
                        <button th:type="submit" class="btn-delete" th:text="'삭제'"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>