<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Mini Dooray! | Project'"></title>
    <link rel="stylesheet" href="/css/default.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/task.css"/>
</head>
<body>
<th:block th:include="fragments/header"/>

<div id="main-container">
    <div id="icon-menu-container">
        <div><a><img class="icon" src="/img/home.png"/></a></div>
        <div><a th:href="@{'/projects/' + ${#authentication.name}}"><img class="icon" src="/img/task.png"/></a></div>
        <div><a><img class="icon" src="/img/account.png"/></a></div>
    </div>
    <div id="task-view-container">
        <div class="task-view">
            <span class="task-view-title" th:text="'작성자 : '"></span>&nbsp;&nbsp;
            <span th:text="${task.taskWriterMemberId}"></span>
        </div>
        <div class="task-view">
            <span class="task-view-title"  th:text="'제목 : '"></span>&nbsp;&nbsp;
            <span th:text="${task.title}"></span>
        </div>
        <div class="task-view">
            <span class="task-view-title" th:text="'내용 : '"></span>&nbsp;&nbsp;
            <span th:text="${task.content}"></span>
        </div>

        <div th:if="${task.taskWriterMemberId.equals(#authentication.name)}">
            <a th:href="@{${modifyAction}}">
                <button class="btn-modify" th:text="'수정'"></button>
            </a>

            <form th:method="delete" th:action="@{${deleteAction}}" id="task-delete-form">
                <input type="hidden" name="taskId" th:value="${task.taskId}"/>
                <button th:type="submit" class="btn-delete" th:text="'삭제'"></button>
            </form>
        </div>
    </div>
</div>
</body>
</html>