<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div id="header-container" class sec:authorize="isAuthenticated()">
  <div id="header-title">
    <a id="a-header-title-name" href="/projects/list"><span id="header-title-name" class="header-box" th:text="'Mini Dooray!'"></span></a>
  </div>

  <div id="header-info" class="header-box">
    <form method="post" action="/logout">
      <span id="user-welcome" th:text="'Welcome,'"/>&nbsp;&nbsp;
      <span id="user-name" sec:authentication="name"/>&nbsp;
      <button type=submit id="btn-logout" th:text="'logout'"></button>
    </form>
  </div>
</div>
<br/>
</html>