<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div id="header-container" class sec:authorize="isAuthenticated()">
  <div id="header-title">
    <img id="header-image" src="/resources/icon/title-image.png"/>&nbsp;&nbsp;
    <a id="a-header-title-name" href="/resident/list"><span id="header-title-name" class="header-box" th:text=""></span></a>
  </div>

  <div id="header-info" class="header-box">
    <span id="user-name" sec:authentication="name"/>&nbsp;
<!--    <span th:text="#{welcome}"/>&nbsp;&nbsp;-->
    <a class="btn_a" href="/auth/logout">
<!--      <button th:text="#{logout}"></button>-->
    </a>
  </div>
</div>
<br/>
</html>