<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title th:text="'Mini Dooray! | 로그인'"></title>
  <link rel="stylesheet" href="/css/default.css"/>
  <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
<h1 th:text="'Mini Dooray!'"></h1>
<div>
  <span th:text="'Mini Dooray!'"></span>
  <span th:text="'서비스 이용을 위해 로그인합니다.'"></span>
</div>

<form method="post" action="/login">
  <input type="text" name="id" placeholder="아이디" /><br />
  <input type="password" name="pw" placeholder="비밀번호"/><br />
<!--  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
  <button type="submit" th:text="'로그인'"></button>
</form>

<div><a href="/oauth2/authorization/github"><button th:text="'GitHub 로그인'"></button></a></div>
<div><a href="/accounts/signup"><button th:text="'회원가입'"></button></a></div>
</body>
</html>