<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="'Mini Dooray! | 회원가입'"></title>
  <link rel="stylesheet" href="/css/default.css"/>
  <link rel="stylesheet" href="/css/signup.css"/>
</head>
<body>
<h1 th:text="'회원가입'"></h1>
<div class="log-container">
  <form th:method="post" th:action="@{/accounts/signup}">
    <p><input type="text" name="memberId" th:attr="placeholder='ID'"  required />
    </p>
    <p><input type="password" name="password" th:attr="placeholder='Password'" required />
    <p><input type="email" name="email" th:attr="placeholder='Email'" required />
    <p><input type="text" name="name" th:attr="placeholder='Name'" required />
    <p> <button type="submit" th:text="'sign up'"></button></p>
  </form>
</div>
</body>
</html>