<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Mini Dooray! | 마일스톤'"></title>
    <link rel="stylesheet" href="/css/default.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<th:block th:include="fragments/header"/>

<div id="main-container">
    <div id="icon-menu-container">
        <div><a><img class="icon" src="/img/home.png"/></a></div>
        <div><a th:href="@{'/projects/' + ${#authentication.name}}"><img class="icon" src="/img/task.png"/></a></div>
        <div><a><img class="icon" src="/img/account.png"/></a></div>
    </div>
    <div>
        <form th:method="post" th:action="@{${action}}" th:object="${reqMilestoneDto}">
            <div><input type="text" name="name" th:attr="placeholder='마일스톤명을 입력해주세요.'" th:field="*{name}" /></div>
            <div><input type="date" name="startPeriod" th:attr="placeholder='제목을 입력해주세요.'"
                        th:field="*{startPeriod}"/></div>
            <div><input type="date" name="endPeriod"
                        th:field="*{endPeriod}" /></div>
            <div><input type="hidden" name="status" th:value="'진행'" /></div>
            <div><button class="create-btn" type="submit" th:text="'저장'"></button></div>
        </form>
    </div>
</div>
</body>
</html>